@import "../../resources/globals";

.dropdown {
  position: relative;
  padding: 12px;
  cursor: pointer;

  &:hover {
    background: $light-gray;
  }
}

.dropdown_items {
  position: absolute;
  border: 1px solid $light-gray;
  min-width: 120px;
  z-index: 1;
}

.dropdown_items_bottom {
  top: 100%;
  left: 0;
}

.dropdown_items_bottom_left {
  top: 100%;
  right: 0;
}

.dropdown_items_left {
  right: 100%;
  top: 0;
}

.dropdown_items_right {
  left: 100%;
  top: 0;
}

.disabled {
  color: $element-disabled-color;
  cursor: default;
}
