@import "../../resources/globals";

.dropdown {
  background-color: $element-background-color;
  padding: 1em;
  cursor: pointer;

  &:hover {
    background: $element-hover-color;
  }
}

.dropdown_items {
  cursor: pointer;
  position: absolute;
}

.disabled {
  user-select: none;
  cursor: default;

  &:hover {
    background: inherit;
  }
}
