//Colors
$white: #fff;
$light-gray: #dddddd;
$gray: #dcdcdc;
$dark-gray: #bfbfbf;
$darker-gray: #777;

$element-background-color: $light-gray;
$element-hover-color: $dark-gray;
$element-disabled-color: $darker-gray;

//Fonts
$font-default-family: Roboto, "Helvetica Neue", sans-serif;
$font-xlarge: 20px;
$font-large: 18px;
$font-default: 12px;
$font-small: 10px;

//Spacing
$space-15: 15px;
$space-10: 10px;
