@import "../../resources/globals";

.button {
  padding: 1em;
  font-size: 1em;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.disabled {
  color: $element-disabled-color;
  cursor: default;
}
