@import "../../resources/globals";

.button {
  font-size: 1rem;
  padding: 1em;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.disabled {
  color: $element-disabled-color;
  cursor: default;
}
