.custom_button {
  background: papayawhip;

  &:hover {
    background: orange;
  }
}

.custom_button_disabled {
  background: gray;
  cursor: default;
  color: white;

  &:hover {
    background: gray;
  }
}
