@import "../src/resources/globals";

$advanced-button-width: 100px;

.advanced_menu {
  background-image: -webkit-linear-gradient(
    left,
    #2caf82 5%,
    #0caee2 97%
  ) !important;
}

.advanced_logo {
  padding: 5px;
}

.advanced_width {
  width: $advanced-button-width;
}

.advanced_button {
  color: white;
  padding: 20px;
  &:hover {
    background: rgb(29, 145, 127);
  }
}

.advanced_dropdown {
  color: white;
  padding: 20px;
  &:hover {
    background: rgb(29, 145, 127);
  }
}

.advanced_dropdown_items {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  color: grey;
}

.advanced_item {
  padding: 10px;
  color: grey;

  &:hover {
    background: #dff8e5;
  }
}

.advanced_seperator_item {
  border-top: grey 1px solid;
}

.advanced_items {
  color: black;
  width: $advanced-button-width;
  background-color: $element-background-color;
}


